In [34]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest


ds_mycars=pd.read_csv("mycars.csv")
df= ds_mycars[['highway_mileage','automatic']]
df.groupby('automatic').describe()

          highway_mileage
                    count       mean       std   min   25%   50%   75%   max
automatic
auto                157.0  22.292994  5.623054  12.0  17.0  22.0  26.0  41.0
manual               77.0  25.779221  5.961772  12.0  23.0  26.0  29.0  44.0

In [35]:
df= ds_mycars[['mpg','automatic']]
df.groupby('automatic').describe()

             mpg
           count       mean       std  min   25%   50%   75%   max
automatic
auto       157.0  15.968153  3.848777  9.0  13.0  16.0  18.0  29.0
manual      77.0  18.675325  4.488118  9.0  15.0  18.0  21.0  35.0

In [22]:
mu = 175
sigma = 5
x = 180
prob = stats.norm.cdf(x,mu,sigma)

print(f"나의 키가 180cm일 경우에 나의 범위는 {prob:.3f} %")

나의 키가 180cm일 경우에 나의 범위는 0.841 %

In [20]:
mu = 12 
sigma = 3  

lower = 9  
upper = 15  


z_lower = (lower - mu) / sigma
z_upper = (upper - mu) / sigma

# 누적분포함수를 사용하여 확률을 계산한다.
prob = stats.norm.cdf(z_upper) - stats.norm.cdf(z_lower)

print(f"1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 {prob:.3f}에 해당함")

1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 0.683에 해당함

In [25]:
mu = 12  
sigma = 3  

prob = 1 - stats.norm.cdf(15, mu, sigma)
print(f"1리터를 가지고 15km 이상을 달릴 확률은 {prob:.3f}에 해당함")

1리터를 가지고 15km 이상을 달릴 확률은 0.159에 해당함

In [27]:
t = 2.0
df = 100

prob = stats.t.cdf(t, df)
print(f"P(T<=F): {prob:.3f}")

P(T<=F): 0.976

In [30]:
chisq = 3.0 
df = 8 

p_value = stats.chi2.cdf(chisq, df)
print(f"P(X<= {chisq}): {prob:.4f}")

P(X<= 3.0): 0.9759

In [32]:
f = 1.5
dfnum, dfden = 10, 100


prob = stats.f.cdf(f, dfnum, dfden)
print(f"P(X<=F): {prob:.3f}")

P(X<=F): 0.850

In [33]:
n = 5
p = 0.4
for i in range(n+1):
    prob = stats.binom.pmf(i, n, p)
    print(f"P(X={i}) : {prob:.3f}")

P(X=0) : 0.078
P(X=1) : 0.259
P(X=2) : 0.346
P(X=3) : 0.230
P(X=4) : 0.077
P(X=5) : 0.010